@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #efefef;
  --gray-medium: #919191;
  --black-transparent: #0f0f0f33;
  --white-overlay: #efefef5e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-medium: var(--gray-medium);
  --color-black-transparent: var(--black-transparent);
  --color-white-overlay: var(--white-overlay);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #efefef;
    --foreground: #0f0f0f;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
